.header {
  padding: 2rem;
  display: flex;
  justify-content: center;

  .nav {
    ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      flex-wrap: wrap;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-size: 0.9rem;
      letter-spacing: 1px;
    }
  }
}
